<% provide(:title, 'All users') %>

<div class="row">
    <aside class="span9">
      <h1>Users</h1>
    </aside>
    <aside class="span3">
    <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search User", class: "btn btn-small btn-primary", :name => nil %>
      </p>
    <% end %>
    </aside>
</div>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>